<form method= "POST" action="/characters/create">
    <label>Name: <input name= "name" type="text" required/></label>
    <label>Occupation: <input name= "occupation" type="text" required/></label>
    <label>Weapon: <input name= "weapon" type="text" required/></label>
    <label>Debt: <input name= "debt" type="checkbox"/></label>   
    <button type="submit">Create</button>
</form>